#fixed{
	position: fixed;
	bottom: 0;
	right: 0;
}
h1{
    text-align: center;
}
#ol1{
    margin-top: 50px;
}
.ul{
    font-size: 15pt;
    list-style-type: initial;
}
.ol{
    margin-top: 30px;
    font-size: 16pt;
}